<% include headerfooter/header.ejs %>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="container home_page">
      <div class="row">
        <div class="col-lg-12">

 
 
   <ul>
   <div id="description"><h2><strong>ABOUT-</strong></h2></div>
    <div id="description">
        It is said that home is sweet. But even then life at home cannot be compared to the life in a hostel. At home one has to live as other members of the family live. Elders are always there to check the activities of youngsters. One cannot even frame one's own timetable of studies. One has to keep in mind the convenience of others. One has to study while others keep on talking and gossiping. Often one room, one kerosene lantern or lamp is used jointly by two or three brothers and sisters. If some relative or guest comes in, the whole program of studies is upset. In fact, at home there is no atmosphere for serious studies. There is constant disturbance due to one reason or the other.
      </div>
        <div id="description">        
        The life in a hostel is different from that of the home. The greatest blessing of hostel life is independence. You may sleep whenever you like. You may get up late in the morning but none will question you. Apart from the general rules and regulations, which are to be followed necessarily by everyone, one is his own master. It is due to this reason that many students do not like to go home even in long vacations. Those who love freedom love the hostel life.
      </div>

        <div id="description">
        In a hostel, life is full of opportunities of amusement. One is constantly in touch with young men of one's age. One can make friends with one's hostel fellows who have varied tastes and aptitudes. He may choose his friends according to his own liking. Mutual discussions of their favorite film actors and actresses, long criticism of the latest picture seen by them, and story-telling, add charm to hostel life. Good arrangements of games and sports, Sunday specials and eating competitions, and day-to day merry-making, make the hostel life a thing of envy for all.

        </div>
   </ul>
        </div>
      </div>
    </div>
    <div class="contact" id="contact">
      <div class="details">
        <h4>Contact Info:</h4>
        <div>mobile no - 7985256029</div>
        <div>phone no - 2360164</div>
        <div>email id - iec2018099@iiita.ac.in</div>
      </div>
    </div>

 <% include headerfooter/footer.ejs %>