<% include headerfooter/header.ejs %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="container">
	<div class="row">
		<h1 style="text-align:center; margin-top: 100px">Signup page</h1>
		<div style="width:30%; margin:25px auto;">
			<form action="/homepage" method="PUT">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="name" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="username" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="name" placeholder="example@iiita.ac.in" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password" minlength="5" maxlength="15" placeholder="password" required>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" minlength="5" maxlength="15" name="password" placeholder="confirm password" required>
				</div>
				<div class="form-group" >
					<button class="btn btn-lg btn-default btn-block btn-primary" style="margin-top: 0; border:0;"> Submit!!</button>
				</div>
			</form>
			<a href ="/homepage">go back</a>
			<a href ="/login" style="margin-left: 10%">already have an account</a>
		</div>
	</div>
</div>
<% include headerfooter/footer.ejs %>