<!DOCTYPE html>
<html>
	<head>
		<title>Hostel Management</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="intro.css">
	</head>
	<body style="margin: 0; height: 100%; width: 100%;">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" style="border-radius: 30px; background: #ADD100;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7B920A, #ADD100);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7B920A, #ADD100); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: black; margin-top:25px; margin-bottom: -25px; margin-left:0;">Hostel Management</a>
		    </div>
		    <div id="navbar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav ">
		        <li class="active"><a href="/homepage">Home</a></li>
		        <li><a href="#contact">Contact</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right ">
		        <li><a href="/signup">Signup  <i class="fa fa-user-plus"></i></a></li>
		        <li><a href="/login">Login  <i class="fa fa-user"></i></a></li>
		      </ul>
		    </div>
		  </div>
		 </nav>
